* {
  box-sizing: border-box;
  -webkit-font-smoothing: anti-aliased;
  -moz-osx-font-smoothing: greyscale;
}

body {
  font-family: "Proza Libre", sans-serif;
  background-color: #fdf0d5;
}

.global-container {
  width: 90%;
  margin: 0 auto;
}

h1.title {
  text-align: center;
  font-size: 2.6em;
}

h3.title {
  font-weight: 700;
  font-size: 1.6em;
  margin: 0;
}

h4.author, form label {
  font-weight: 500;
  font-size: 1.2em;
  margin: 10px 0 0 0;
}

.add-btn-container{
    display: flex;
    justify-content: center;
}
.btn-container {
  display:flex;
  
}

a.add-btn, a.go-back-btn {
    display: flex;
    align-items: center;
    transition:0.35s cubic-bezier(0.19, 1, 0.4, 1);
}

a.add-btn p, a.go-back-btn p {
  display:flex; 
  align-content: center;
  font-size:1.5em;
  margin: 10px;
  font-weight:700;
}

a.go-back-btn p {
    font-size: 1.3em;
    margin: 0 10px;
}

a.add-btn:hover, a.go-back-btn:hover{
  background-color: white;
  border: 3px solid #003049;
}

a.add-btn:hover p, a.add-btn:hover svg, a.go-back-btn:hover p{
  color: #003049;
}

p.genre, a.add-btn, a.go-back-btn {
  background-color: #003049;
  color: white;
  font-size: 0.8em;
  padding: 10px;
  align-self: start;
  border: 3px solid #003049;
  border-radius: 10px;
}
p.summary {
  white-space: pre-wrap;
}

p.my-rating, p.date-read {
    font-size:1.2em;
}

p.my-rating span, p.date-read span{
    font-weight:700;
}

.book-cards-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top:1rem;
}

.book-card-anchor {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-basis: 30%;
}
.book-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 320px;
  padding: 2rem;
  flex-basis: 30%;
  border: 5px solid #003049;
  /* -webkit-box-shadow: 0 0.125rem 1.3rem rgb(15 20 48 / 10%);
    box-shadow: 0 0.125rem 1.3rem rgb(15 20 48 / 10%); */
  border-radius: 20px;
  margin: 20px;
  transition: 0.35s cubic-bezier(0.19, 1, 0.4, 1);
}

.book-card:hover {
  transform: translateY(-1.6%);
  box-shadow: 0 7px 21px 0 rgb(0 0 0 / 7%);
  cursor: pointer;
}
a {
  color: inherit; /* blue colors for links too */
  text-decoration: inherit; /* no underline */
}

.book-container {
    display:flex;
    flex-direction: column;
  width: 90%;
  margin: 20px auto;
  padding: 30px;
  border: 5px solid #003049;
  border-radius: 20px;
}

.genre-container {
  display:flex;
}

.genre-container p:first-child {
  margin-right: 10px;
}


form#addBook{
  display:flex;
  max-width:550px;
  flex-direction: column;
  margin-top: 1rem;
}

#addBook input, #addBook textarea, #addBook select {
    border: 3px solid #003049;
    font-size: 0.9em;
    border-radius: 10px;
    font-weight: 200;
    padding: 14px;
    box-shadow: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    font-family:inherit;
    background: none;
}

textarea {
  height:200px;
}
input[name="rating"] {
  max-width:100px;
}

.red {
   color: #c1121f;
}

form .inactive {
  display:none;
}

form#deleteBook button {
    outline: none;
    background: transparent;
    border: transparent;
      border-radius: 10px;
      padding:10px; 
      font-family: inherit;
      font-weight:700;
      font-size: 1.1em;
      color: #c1121f;
      margin-left: 20px;
      cursor: pointer;
}

form#addBook select {
      position:absolute;
      font-family: inherit;
      left: 0; 
      width:100%;
}

form#addBook .select-container {
  position:relative;
  height:50px;

}
form#addBook .select-dropdown {
  right: 10px;
  bottom: 13px;
  position:absolute;
}

form#addBook button {
    outline: none;
    color: white;
    background: #003049;
    border: 3px solid #003049;
    font-family:inherit;
  font-size:1.5em;
  padding:10px;
  font-weight:700;
  margin:20px 0;
  border-radius: 10px;
}

@media screen and (max-width: 425px) {
  .book-card {
    min-height:100%;
    margin:0;
  }
  .book-card-anchor {
    flex-basis:100%;
        margin: 20px 0;

  }
}